NEXT_PUBLIC_ARC_RPC_URL=https://YOUR_ARC_RPC
NEXT_PUBLIC_SETTLEVA_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_ARC_CHAIN_ID=5042
RECLAIM_APP_ID=your_reclaim_app_id
RECLAIM_APP_SECRET=your_reclaim_app_secret
RECLAIM_PROVIDER_ID=your_reclaim_provider_id
RECLAIM_PROVIDER_VERSION=your_reclaim_provider_version
